@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "august";
    font-weight: 700;
    src: url(/fonts/August-Bold.ttf) format("opentype");
    font-display: swap;
  }

  @font-face {
    font-family: "dune";
    font-weight: 400;
    src: url(/fonts/Dune_Rise.otf) format("opentype");
    font-display: swap;
  }
   @font-face {
    font-family: "figtree";
    font-weight: 400;
    src: url(/fonts/Figtree.ttf) format("opentype");
    font-display: swap;
  }
}

@theme {
  --font-title: "august", sans-serif;
  --font-text: "dune", sans-serif;
  --font-text2: "figtree", sans-serif;

  --breakpoint-sm: 420px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1000px;
  --breakpoint-xl: 1350px;
  --breakpoint-2xl: 1650px;
  --breakpoint-3xl: 1920px;

  --color-black: #27272a;
  --color-white: #d4d4d8;
  --color-gray: #8b867f;
  --color-gray2: #4e4b47;
  --color-orange: #9c7443;
}

.container{
  width: 120vw;
  max-width: 100%;
}